/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* global styles */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    height: 100%;
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Poppins';
    scroll-behavior: smooth;
    height: 100%;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 1378px;
    padding: 0 2rem;
    margin: 0 auto;
}
.active{
    position: relative;
}
.active::after{
    content: "";
    width: 100%;
    height: 3px;
    color: var(--text-color);
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 5px;
}
/* custom proporty */
:root{
    --basic-color:#263238;
    --title-color:#000;
    --text-color:#8F95A5;
    --white-color:#fff;
    --card-bgc:#F5F5F5;
    --payment-bg-color:#eee;
    --payment-text-color:#546269;
}
/* /global styles */



/* HEADER SECTION */
.header {
    width: 100%;
    padding: 5.5rem 0;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo:hover path{
    opacity: 0.8;
}
.header-logo:active path{
    opacity: 0.6;
}
.header-logo {
    /* display: flex; */
    text-decoration: none;
    width: 104px;
    height: 29px;
}
.header-logo svg {
    width: 100%;
    height: auto;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-list-item:not(:last-child) {
    
    margin-right: 4.5rem;

}
.nav-list-item a:hover{
    opacity: 0.8;
}
.nav-list-item a:active{
    opacity: 0.6;
}
.nav-list-item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--basic-color);

}
.talk:hover{
    opacity: 0.8;
}
.talk:active{
    opacity: 0.6;
}
.talk {
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--title-color);
    text-decoration: none;
    padding: 1.7rem 5.7rem;
    border: 2px var(--basic-color ) solid;
    border-radius: 5px;
}
/* MAIN SECTION */


.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.text-cotent {
    width: 632px;
}
.title-wrap{
    display: flex;
    position: relative;
}
.light-img{
    top: 39px;
    position: absolute;
    right: 151px;
    top: 130px;
}
.hero-title {
    width: 368px;
    height: 240px;
    font-weight: 600;
    font-size: 6.0rem;
    line-height: 8rem;
    position: relative;
    color: var(--title-color);
}
.hero-text {
    width: 632px;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--text-color);
    margin-bottom: 6rem;
}
.hero-btn:hover{
    opacity: 0.8;
}
.hero-btn:active{
    opacity: 0.6;
}
.hero-btn {
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: var(--white-color);
    padding: 3.2rem 11.7rem;
    border-radius: 1.5rem;
    background-color: var(--basic-color);
}
/* skills */
/* skill`s global styles */
.card-btns:hover{
    opacity: 0.8;
}
.card-btns:active{
    opacity: 0.6;
}
.card-btns {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--white-color);
    padding: 1.5rem 5.1rem;
    border-radius: 5px;
    background-color: var(--basic-color);

}

.card-title {  
    font-weight: 600;
    font-size: 3rem;
    line-height: 8rem;
    color: var(--basic-color);
}
.card-text {
    width: 377px;
    line-height: 2.4rem;
    color: var(--text-color);
    margin-bottom: 3rem;
}

/* skill`s global styles */

.skils-top-title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 8rem;
    text-align: center;
    color: var(--title-color);
    margin-bottom:9.6rem;
}

.skills-card-list {
    display: flex;
    margin-bottom: 24rem;
}
/* skills card 1*/
.skills-card-1 {
    background-color: var(--card-bgc);
    width: 435px;
    height: 894px;
    padding: 3.5rem 2.2rem ;
    border-radius: 1rem;
    margin-right: 1.8rem;
}
.card-text-content {
    margin-left: 2.3rem;
}
.card-title-1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 8rem;
    color: var(--basic-color);
}
.card-text-1 {
    width: 347px;
    line-height: 2.4rem;
    color: var(--text-color);
    margin-bottom: 3.6rem;
}
.card-btn-1:hover{
    opacity: 0.8;
}
.card-btn-1:active{
    opacity: 0.6;
}
.card-btn-1 {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--white-color);
    padding: 1.7rem 6.4rem;
    border-radius: 5px;
    background-color: var(--basic-color);
    
}
.card-right-list{
    display: flex;
    margin-bottom: 1.8rem;
}
/* skills card 2 */
.skills-card-2 {
    width: 434px;
    height: 531px;
    border-radius: 1rem;
    background-color: var(--card-bgc);
    position: relative;
    padding: 0 2.2rem  3.5rem 2.2rem;
    display: flex;
    margin-right: 1.8rem;
}
.card-text-content-2{
    position: absolute;
    top: 240px;
    left: 4rem;
}
.card-img-2 {
    display: inline-block;
    margin-left: auto;
    justify-self: right;
}



/* skills card 3 */
.skills-card-3 {
    width: 434px;
    height: 531px;
    border-radius: 1rem;
    background-color: var(--card-bgc);
    position: relative;
    padding: 0 2.2rem  3.5rem 2.2rem;
    display: flex;
}
.card-text-content-3{
    position: absolute;
    top: 233px;
    left: 4rem;
}
.card-img-3{
    display: inline-block;
    margin-right: auto;
    justify-self: left;
}
/* skills card 4 */
.skills-card-4 {
    width: 885px;
    height: 343px;
    display: flex;
    justify-content: space-between;
    background-color: var(--card-bgc);
    border-radius: 1rem;
}
.card-text-content-4 {
    margin-left: 4rem;
    margin-top: 4rem;
}

.card-img-4 {
    align-self: center;
}
/* About us */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15rem;
}
.about-us-text-content {
    width: 635px;
}
.about-us-title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 8rem;
    color: var(--title-color);
}
.about-us-text {
    width: 635px;
    height: 240px;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--text-color);
}
.about-us-statistics-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.abut-us-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-us-statistics-number {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 8rem;
    color: var(--title-color);
}
.about-us-statistics-type {
    font-size: 2rem;
    line-height: 3rem;
    color: var(--text-color);
}
/* pricing */
.pricing { 
    margin-bottom: 26rem;

}
.pricing-top-title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 8rem;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 2.5rem;
}

.pricing-card-list { 
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.pricing-card {
    width: 440px;
    height: 585px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}
.pricing-card-img-frame {
    margin: 1.5rem;
    height: 315px;

}
.pricing-card-text-content {
    width: 420px;
    /* height: 220px; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

}
.pricing-card-title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    color: var(--basic-color);
    margin-bottom: 1.5rem;
}
.pricing-card-text {
    font-size: 2rem;
    line-height: 3rem;
    color: var(--text-color);
    margin-bottom: 2.2rem;
}
.pricing-payment {
    width: 240px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: var(--payment-bg-color);
}
.pricing-payment-number {
    font-size: 3rem;
    line-height: 4.5rem;
    color: var(--basic-color);
    margin-right: 0.8rem;
}
.pricing-payment-text {
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: var(--payment-text-color);
}
/* contact us */
.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-us-title {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 8rem;
    color: var(--title-color);
    margin-bottom: 3rem;
}
.contact-us-text {
    width: 776px;
    font-size: 2rem;
    line-height: 3rem;
    color: var(--basic-color);
    margin-bottom: 5.2rem;
}
.form-wrap{
    display: flex;
    align-items: center;
    
}
.contact-us-form-input {
    line-height: 2.4rem;
    margin-right: 1.2rem;
    padding: 2.6rem 21.7rem 3rem 3.3rem;
    border-radius: 1rem;
}
.contact-us-btn:hover{
    opacity: 0.8;
}
.contact-us-btn:active{
    opacity: 0.6;
}
.contact-us-btn {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    border-radius: 1rem;
    background-color: var(--title-color);
    padding:2.5rem 8.1rem;
}
/* footer section */
.footer {
    padding-bottom: 6.4rem;
    display: flex;
    align-items: center;
}
.horisontal-line {
    margin-bottom: 3.1rem;
}
.footer-row {
    display: flex;
    
}
.footer-logo-link:hover path{
    opacity: 0.8;
}
.footer-logo-link:active path{
    opacity: 0.6;
}
.footer-logo-link {
    margin-right: auto;
    width: 106px;
    height: 54px;

}
.footer-logo-link svg{
    width: 100%;
    height: auto;
}
.footer-privacy-policy:not(:last-child){
    margin-right: 0.3rem;
}

.footer-privacy-policy {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: var(--text-color);
    text-decoration: none;
}
.footer-beetwen-dot {
    margin-right: 0.3rem;
    color: var(--text-color);
    line-height: 3.6rem;
}
